header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 0%, #FFFFFF 25%, #FFFFFF 75%, transparent 100%);
    border-image-slice: 1;
    margin-bottom: 110px;
}

nav{
    display: flex;
    align-items: center;
}

nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    align-items: center;
    font-size: 1.25em;
    padding: 25px 25px;
}

nav ul li .active{
    color: #DEAB68;
    border-top: 3px solid #DEAB68;
}

.header-logo{
    display: flex;
    align-items: center;
    padding: 0 25px;
}