.lineup-title {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
}

.lineup {
    display: flex;
    justify-content: center;
}

.lineup-table {
    width: 55%;
    max-width: 600px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    background: linear-gradient(90deg, #deab68 0%, #b54136 34%, #39707c 65%, #1a313d 100%);
}

.lineup-tablerow {
    background: transparent;
}

.lineup-td, .lineup-th {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

.lineup-th {
    font-size: 1.5em;
    font-weight: 800;
    padding: 22px;
}

.lineup-tablerow:first-child .lineup-td:first-child {
    border-top-left-radius: 10px;
}

.lineup-tablerow:first-child .lineup-td:last-child {
    border-top-right-radius: 10px;
}

.lineup-td {
    font-size: 0.9em;
    font-weight: 600;
    padding: 10px;
}

.lineup-td a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

.lineup-td a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}


/* 
.lineup-tablerow:hover {
    background-color: rgba(255, 255, 255, 0.2);
} */

.lineup-tablerow:last-child .lineup-td:first-child {
    border-bottom-left-radius: 10px;
}

.lineup-tablerow:last-child .lineup-td:last-child {
    border-bottom-right-radius: 10px;
}

@media (max-width: 1024px) {
    .lineup-table {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .lineup-title {
        font-size: 1.5em; /* Ajuste para tamaño de pantalla más pequeño */
    }

    .lineup-th, .lineup-td {
        font-size: 0.9em; /* Ajuste para tamaño de pantalla más pequeño */
        padding: 10px; /* Ajuste del padding */
    }

    .lineup-table {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .lineup-title {
        font-size: 1.4em; /* Ajuste para tamaño de pantalla más pequeño */
    }

    .lineup-th, .lineup-td {
        font-size: 0.8em; /* Ajuste para tamaño de pantalla más pequeño */
        padding: 8px; /* Ajuste del padding */
    }

    .lineup-table {
        width: 95%;
    }
}

@media (max-width: 424px) {
    .lineup-title {
        font-size: 1.3em; /* Ajuste para tamaño de pantalla más pequeño */
    }

    .lineup-th, .lineup-td {
        font-size: 0.7em; /* Ajuste para tamaño de pantalla más pequeño */
        padding: 6px; /* Ajuste del padding */
    }
}

@media (max-width: 320px) {
    .lineup-title {
        font-size: 1.2em; /* Ajuste para tamaño de pantalla más pequeño */
    }

    .lineup-th, .lineup-td {
        font-size: 0.6em; /* Ajuste para tamaño de pantalla más pequeño */
        padding: 5px; /* Ajuste del padding */
    }
}