/* ProjectCard */

.project-card {
    width: 90%; 
    max-width: 280px; 
    height: 320px; 
    margin: 0 10px;  
    box-sizing: border-box;
}

.project-card-picture {
    background-color: white;
    width: 100%;
    height: 170px; 
    margin: 0;
}

.project-card-img {
    width: 100%;
    height: 170px; 
    object-fit: cover;
}

.project-card-data {
    background-color: white;
    padding: 18px 20px 22px; 
    box-sizing: border-box; 
}

.project-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px; 
}

.project-card-name {
    color: #000;
    font-size: 1.25em; 
    font-weight: 800;
    margin: 0;
    text-align: start;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%; 
}

.project-card-type {
    color: #000;
    font-size: 1.1em; 
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.project-card-button {
    color: #000;
    font-size: 0.9em; 
    font-weight: 400;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin: 0;
}

.project-card-button:hover {
    cursor: pointer;
} 

/* Project Carrousel */

.project-carrousel {
    margin: 40px auto; 
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px; 
    position: relative; 
}

.project-carrousel-title {
    display: flex;
    margin-left: 25px;
    font-size: 1.75em; 
    font-weight: 700;
    margin-bottom: 20px; 
}

.slick-slide > div > div {
    display: flex !important;
    width: 100%;
    justify-content: center;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

.custom-arrow.prev {
    left: 10px;
}

.custom-arrow.next {
    right: 10px;
}

.slick-dots {
    bottom: -30px !important; 
}
  
.slick-dots li button:before {
    width: 12px !important;
    height: 12px !important; 
    border-radius: 50% !important;
    font-size: 10px !important; 
    color: #fff !important;
}

.carousel-instructions {
    font-size: 0.875em;
    text-align: center;
    margin-top: 10px;
    color: #9e9e9e;
    display: flex;
    justify-content: center;
}



@media (max-width: 768px) {
    .project-card{
        max-width: 250px; 
    }

    .slick-dots {
        bottom: -40px !important;
    }

    .slick-dots li button:before {
        width: 10px !important;
        height: 10px !important;
        font-size: 8px !important;
    }

    .project-carrousel-title {
        font-size: 1.5em;
    }
}

@media (max-width: 425px) {
    .project-card {
        height: auto;
    }

    .project-carrousel-title {
        font-size: 1.3em;
    }
}

@media (max-width: 375px) {
    .project-carrousel {
        padding: 0 10px;
    }

    .project-carrousel-title {
        font-size: 1.2em;
    }
}

@media (max-width: 320px) {
    .slick-dots {
        bottom: -50px !important;
    }

    .slick-dots li button:before {
        width: 8px !important;
        height: 8px !important;
        font-size: 6px !important;
    }
}